/* flex container */
.flex-container {
    display: flex;
    background-color: black;
    color: #fff;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* flex item */
  .flex-item {
    border: 3px solid grey;
    padding: 30px;
    margin: 30px;
  }
  
  /* media queries for max width 600px */
  @media screen and (max-width: 600px) {
  
    /* Flex Container */
    .flex-container {
      background-color: grey;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
  
    /* flex item */
    .flex-item {
      border: 6px solid black;
    }

}